.App{
    width: 100vw;
    height: 1000vh;
}
body{
    margin: 0;
    padding: 0;
    padding-top: 54px;
    /* position: fixed; */
}
.boarder-container{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20px;
    height: 85%; 
    width: 78%;
    border: 1px solid #d69f9f;
    padding: 20px;
    max-width: 1100px;
    max-height: 900px;
    border-radius: 8px;
}
.long-line {
    width: 80%; 
    margin: 0 auto;
    border: 5px solid transparent;
    color: black;
}
/* main pages */
.row-grid{
    display: grid;
    grid-template-columns: 0.1fr 100fr 10fr; 
    margin-top: 10px;
}
.right-side {
    flex: 3; 
    margin-left: 20px;
}
.form-project-control #inputEmail4{
    width: '300px';
}
.main-primary-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #a06e45;
    color: #ffffff; 
    background-color: #9F4848; 
    border-radius: 1px; 
    transition: background-color 0.3s ease;
    /* margin-right: 10px;  */
    min-width: 120px;
}
/* HOVER */
.main-primary-btn:hover {
    background-color: #040679; 
}

.btn-row{
    padding: 10px 100px;
    color: white; 
    border: none; 
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 160px;
}

.form-project-control #uni-name{
    width: '300px';
}