.row-container {
  display: grid;
  grid-template-columns: 20fr 10fr; 
  margin-top: 10px;
}


.form-student-control #inputEmail4{
    width: '300px';
}
.form-student-row #move{
  margin-top: 200px;
}

.row-container > :nth-child(2) {
  background-color: #81c784; 
}

#contact{
  margin-top: 1px;
  margin-right: 100px;
}

.profile-picture-box {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  overflow: hidden;
  background-color: #ddd; 
  border: #81c784;
  border: 1px solid #a06e45;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profilePicture{
  margin-left: 100px;

}
